$min-screen-width: 768px;

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile-only {
    @media only screen and (max-width: $min-screen-width) {
        @content;
    }
}
@mixin animate-opacity($delay) {
    opacity: 1;
    transition: opacity calc(1.1s - $delay) ease-out $delay
}
@mixin hide-when-not-ready {
    .notready & {
        opacity: 0;
    }
}

.seizure-warning {
    $width: 608px;
    background-color: darkred; 
    color: white;
    text-align: center; position: absolute; 
    top: 2em; width: auto;
    left:calc(50% - ( $width / 2 )); 
    z-index: 10;
    font-size: 1.25em;
    width: $width;
    padding: 1em;
    border: 1px solid red;
    border-radius: 4px;

    @include animate-opacity(0.5s);
    @include hide-when-not-ready;
    @include mobile-only { 
        width: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
    }

    .playing & {
        opacity: 0;
    }
}

.video-container {
    max-width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: stretch;
    position: relative;


    .video-player {
        flex-grow: 1;
        max-height: 90vh;

        video {
            width: 100%;
            max-height: 90vh;
            height: auto;
            @include animate-opacity(0s);
            @include hide-when-not-ready;
        }
    }

    .video-meta {
        width: auto;
        position: relative;
        min-height: 100px;
        align-items: flex-start;
        padding-top: 1em;

        @include mobile-only {
            flex-direction: column;
        }

        @mixin video-meta-el {
            position: relative;
            min-height: 2em;
            @include animate-opacity(0.1s);
            @include hide-when-not-ready;
            @include mobile-only {
                width: 100%;
            }
        }

        .video-title {
            @include video-meta-el;
            flex-shrink: 1;
            flex-grow: 1;
        }

        .video-description {
            @include video-meta-el;
            flex-grow: 2;

            &-text {
                position: absolute;
                left: 0;
                width: 100%;
                color: #AAA;
                padding-bottom: 1em;
            }
        }
    }
}

p {
    text-align: justify;
}

/* 
@media only screen and (max-width: $min-screen-width) {
    .video-container .video-meta {
        flex-direction: column;
    }

    .video-container .video-meta .video-title,
    .video-container .video-meta .video-description {
        width: 100%;
    }
} */