$min-screen-width: 768px;
$fg-color: #EEE;

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile-only {
    @media only screen and (max-width: $min-screen-width) {
        @content;
    }
}
@mixin animate-opacity($delay) {
    opacity: 1;
    transition: opacity calc(1.1s - $delay) ease-out $delay
}
@mixin hide-when-not-ready {
    .notready & {
        opacity: 0;
    }
}

.seizure-warning {
    $width: 660px;
    //background-color: darkred; 
    color: red;
    text-align: center; 
    position: fixed; 
    top: 2em; width: auto;
    left:calc(50% - ( $width / 2 )); 
    z-index: 10;
    width: $width;
    padding: 0.8em;
    font-size: 1.3em;
    //border: 1px solid red;
    //border-radius: 4px;

    @include animate-opacity(0.5s);
    @include hide-when-not-ready;
    @include mobile-only { 
        width: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
    }

    .no-warning & {
        opacity: 0;
    }

    a {
        background-color: $fg-color;
        border-radius: 2px;
        padding: 0.5em;
        margin-top: 1em;
        display: inline-block;
        color: darkred;
        text-decoration: none;

        &:hover {
            background-color: white;
        }
    }
}

.video-container {
    max-width: 90%;
    height: 90%;
    flex-direction: column;
    align-items: stretch;
    position: relative;


    .video-player {
        $max-height: 85vh;
        flex-grow: 1;
        max-height: $max-height;

        video {
            width: 100%;
            max-height: $max-height;
            height: auto;
            @include animate-opacity(0s);
            @include hide-when-not-ready;
        }
    }

    .video-meta {
        width: auto;
        position: relative;
        min-height: 100px;
        align-items: flex-start;
        padding-top: 1em;

        @include mobile-only {
            flex-direction: column;
        }

        @mixin video-meta-el {
            position: relative;
            min-height: 2em;
            @include animate-opacity(0.1s);
            @include hide-when-not-ready;
            @include mobile-only {
                width: 100%;
            }
        }

        .video-title {
            @include video-meta-el;
            flex-shrink: 1;
            flex-grow: 1;
        }

        .video-description {
            @include video-meta-el;
            flex-grow: 2;

            &-text {
                position: absolute;
                left: 0;
                width: 100%;
                color: #AAA;
                padding-bottom: 1em;
            }
        }
    }
}

p {
    text-align: justify;
}

/* 
@media only screen and (max-width: $min-screen-width) {
    .video-container .video-meta {
        flex-direction: column;
    }

    .video-container .video-meta .video-title,
    .video-container .video-meta .video-description {
        width: 100%;
    }
} */